.form-new-motorbike {
  font-size: 18px;
  color: #0B486B;
  border-radius: 3px;
  padding: 1.5em;
  border: 1px solid #eaeaea;
  background-color: #fff;
}

.form-new-motorbike .help-block {
  font-size: 12px;

}

.form-control {
  border: 1px solid #eaeaea;
  border-radius: 3px;
}

.form-new-motorbike h2 {
  font-weight: 100
}

.form-new-motorbike label {
  font-weight: 100
}

.form-new-motorbike a {
  font-weight: 100;
  font-size: 16px;
}

.form-inputs {
  font-size: 18px;
}

.form-new-motorbike abbr {
 font-size: 15px;
}

.new-motorbike-teaser {
  margin: 30px 0;
  color:#0B486B;
  strong{
    color:#F56217;
  }
}

ul {
  list-style-type: none;
}
.attachinary-input {
  font-size:12px;
}
.attachinary_container {
  ul {
    padding-top:10px;
  }
  a {
    font-size:12px;
  }

}
