.form-new-user {

  background-color: #F5F8FA;
  color: #0B486B;
  border-radius: 5px;
  text-align: center;
  padding-bottom: 15px;
}

.form-new-user h2 {
  font-weight: 100
}

.form-new-user label {
  font-weight: 100
}

.form-new-user abbr{
  display: none;
}


.form-new-user a {
  color: #0B486B;
  font-weight: 100;
  font-size: 16px;
}

.form-inputs {
  font-size: 18px;
}

.test {

}
