.form-new-user {
  color: #000;
  border-radius: 3px;
  text-align: center;
  padding: 1.5em;
  border: 1px solid #eaeaea;
  background-color: #fff;
}

.form-control {
  border: 1px solid #eaeaea;
  border-radius: 3px;
}

.form-new-user h2 {
  font-weight: 100
}

.form-new-user label {
  font-weight: 100
}

.form-new-user a {
  color: #0B486B;
  font-weight: 100;
  font-size: 16px;
}

.form-inputs {
  font-size: 18px;
}

.form-new-user abbr {
  display: none;
}


