.all-motor {
  margin-top: 2.5rem;
}

.container-motor-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 0;
  p {
    margin-bottom: 0;
  }
  .profile-motor-picture {
    flex: 0 0 20%;
  }
  .profile-motor-brand {
    margin-left: 3rem;
    flex: 1 0 auto;
    p {
      font-size: 1em;
      font-weight: 300;
      line-height: 1.5em;
    }
  }
  .profile-motor-model {
    flex: 0 0 20%;
    .profile-status {
      border: 2px solid #0B486B;
      text-align: center;
      padding: .7em 1.1em;
      border-radius: .5em;
      color: #0B486B;
      font-weight: 800;
      text-transform: uppercase;
    }
    .profile-status-booked {
      border: 2px solid #F56217;
      background-color: #F56217;
      text-align: center;
      padding: .7em 1.1em;
      border-radius: .5em;
      color: #fff;
      font-weight: 800;
      text-transform: uppercase;
    }
    .profile-status-pending {
      border: 2px solid #0B486B;
      text-align: center;
      padding: .7em 1.1em;
      border-radius: .5em;
      color: #0B486B;
      font-weight: 800;
      text-transform: uppercase;
    }
  }
}

