.container-motor-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  .profile-motor-picture {
    flex: 0 0
  }
  .profile-motor-brand {

  }
  .profile-motor-model {

  }
}
