.moto-wrapper {
 margin-top: 30px;
 padding: 2em 0;
}

#moto-photo {
  border-radius: 6px;
}

.col-item {
 margin-top: 20px;
}

.col-item-left {
  text-align: left;
}

.profile-motor-model {
 flex: 0 0 20%;
 .profile-status {
   border: 2px solid #0B486B;
   text-align: center;
   padding-top: 12px;
   border-radius: .5em;
   color: #0B486B;
   font-weight: 800;
   text-transform: uppercase;
 }
 .profile-status-booked {
  border: 2px solid #F56217;
  background-color: #F56217;
  text-align: center;
  padding-top: 12px;
  border-radius: .5em;
  color: #fff;
  font-weight: 800;
  text-transform: uppercase;
}
.profile-status-pending {
  border: 2px solid #0B486B;
  text-align: center;
  padding-top: 12px;
  border-radius: .5em;
  color: #0B486B;
  font-weight: 800;
  text-transform: uppercase;
}
}


.rental-detail {
  margin-top: 43px;
  border: 1px solid rgba(0, 0, 0, 0.09);
  padding: 10px 25px 25px 25px;
  background-color: white;
}

.rental-detail h2{
  text-align: center;
  font-weight: 100;
  margin-bottom: 40px;

}

.rental-detail p{
  font-weight: 100;
  padding: 0.01px;

}
.rental-detail strong{
  text-align: center;
  font-weight: 500;

}

.rental-detail .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  border: solid white 1px;
  top: -25px;
}

.wrapper-review-show {
  border-top: 1px solid #eaeaea;
  padding: 2em 0;
  ul {
    padding: 0;
    margin-bottom: 1.5rem;
  }
}
