<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <h1 class="text-align">Add a review</h1>
      <%= simple_form_for([@rental, @review]) do |f|%>
        <%= f.input :content %>
        <%= f.input :rate %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
