<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-9 listing-profile">
      <h2>My motorbikes</h2>
      <div class="container-motor-profile">
        <% @user.motorbikes.each do |r| %>
          <div class="profile-motor-picture">
            <p><%= image_tag r.foreign_image %></p>
          </div>
          <div class="profile-motor-brand">
            <p>Brand: <%= r.brand %></p>
          </div>
          <div class="profile-motor-model">
            <p>Model: <%= r.model %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
