
<%= render "shared/subnav" %>

<div class="container">
<div class="padded-little"></div>
  <div class="row">
    <div class="col-md-3">
     <%= render "profil-card" %>
    </div>
      <div class="col-md-9">
<<<<<<< HEAD

      <%= render "my-bikes" %>
=======
>>>>>>> 6b018da7902bcd07829fd481b6ed846d2085631c
    </div>
  </div>
</div>

<div class="padded"></div>



