
<%= render "shared/subnav" %>

<div class="container">
<div class="padded-little"></div>
  <div class="row">
    <div class="col-md-3">
     <%= render "profil-card" %>
    </div>
    <div class="col-md-9">
      <div class="tab-content" id="bikes">
        <%= render 'my-bikes' %>
      </div>
      <div class="tab-content hidden" id="rentals">
        <%= render 'my-pending-rentals' %>
      </div>
    </div>
  </div>
</div>

<div class="padded"></div>



