
  <%= render "shared/subnav" %>

<div class="container">
<div class="padded-little"></div>
  <div class="row">
    <div class="col-md-3">
     <%= render "profil-card" %>
    </div>
      <div class="col-md-9">

      <%= render "my-bikes" %>
    </div>
  </div>
</div>
  <div class="padded"></div>



