<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 50%), url('<%= image_path "background-2.jpg" %>');" >
  <div class="banner-content text-center">
    <h1>Feel the road</h1>
    <p>Rent a motorbike, be wild</p>
    <form action="<%= motorbikes_path %>" class="form-inline">
      <input type="text" class="form-control input-lg" placeholder="Where ? " name="location">
      <input data-provide="datepicker" class="form-control input-lg" placeholder="Start date" name="start_date" data-date-format="dd/mm/yyyy">
      <input data-provide="datepicker" class="form-control input-lg" placeholder="End date" name="end_date" data-date-format="dd/mm/yyyy">
      <input type="submit" class="button-blue" value="Search">
    </form>
  </div>
</div>
