<%= render "banner" %>
<div class="container">
  <div class="padded text-center" style="font-weight: 800">Last posted bikes</div>
  <div class="row">
    <% @motorbikes.last(6).each do |motorbike| %>
      <%= link_to motorbike_path(motorbike) do %>
        <div class="col-xs-12 col-md-4">
          <%= render 'shared/motorbike_card', motorbike: motorbike %>
        </div>
      <% end %>
    <% end %>
  <div class="padded text-center"></div>
</div>


