<%= render "banner" %>
<div class="container">
  <div class="row">
  <div class="padded text-center">Find your own bike</div>
  <% @motorbikes.first(3).each do |motorbike| %>
    <div class="col-xs-12 col-sm-4">
      <%= render "card", motorbike: motorbike %>
    </div>
    <% end %>
  </div>
  <div class="padded text-center"></div>
</div>

