<%= render "shared/banner" %>

<div class="container">
  <div class="row">
  <h1>Pages#home</h1>
  <ul>
  <% @motorbikes.each do |motorbike| %>
  <li><%= motorbike.brand %></li>
  <li><%= motorbike.model %></li>
  <% end %>
</ul>
</div>
</div>

