<% @motorbikes.each do |motorbike| %>
  <%= link_to motorbike_path(motorbike) do %>
    <h3>
      <%= motorbike.brand %> <%= motorbike.model %>
    </h3>
    <p><%= motorbike.description %></p>
  <% end %>
<% end %>

