/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert-custom {
  margin: 0;
  text-align: center;
  color: white;
}
.alert-info-custom {
  color: $green;
  font-weight: bold;
}
.alert-warning-custom {
  color: $green;
  font-weight: bold;
}

#notice-wrapper {
  width: 100%;
  z-index: 999;
  position: absolute;
}
