.motorbikes-filters-form {
  margin-top: 15px;
  padding: 15px;
  background-color: #DCE1E1;
  border-radius: 5px;
}
.motorbike-subnav-filters-form {
  height: 70px;
  width: 100%;
  background-color: #0B486B;
  display:flex;
  align-items: center;
  justify-content: center;
}
