.profil-card {
  height: 250px;
  width: 250px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white;
  position: relative;
  border-radius: 3px;
}
.profil-card-user {
  position: absolute;
  right: 10px;
  top: 10px;
}
.profil-card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px;
  text-transform: uppercase;
}
.profil-card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.profil-card-description h2 {
  font-size: 24px;
}
.profil-card-description p {
  font-size: 13px;
  }
.profil-card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.profil-card-link:hover{
  opacity: 0.1;
}


.profil-card-text {
  width: 250px;
  background-size: cover !important;
  position: relative;
  border-radius: 1px;
}
