.panel {
    border: 1px solid #dce0e0;
    background-color: #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.space-4 {
    margin-bottom: 24px;
}

.panel-header:first-child, .panel-body:first-child, ul.panel-body>li:first-child, ol.panel-body>li:first-child, .panel-footer:first-child {
    border-top: 0;
}

.panel-dark, .panel-header {
    background-color: #fff;
}

.panel-header {
    color: #484848;
    font-size: 1.9em;
    padding-top: 12px;
    padding-bottom: 12px;
}

.panel-header, .panel-body, ul.panel-body>li, ol.panel-body>li, .panel-footer {
    position: relative;
    margin: 0;
    padding: 20px;
}
.panel-body, ul.panel-body>li, ol.panel-body>li, .panel-footer {
    position: relative;
    margin: 0;
    padding: 20px;
}

.panel-body {
    position: relative;
}
.panel-header, .panel-body, ul.panel-body>li, ol.panel-body>li, .panel-footer {
    position: relative;
    margin: 0;
    padding: 20px;
}

.list-unstyled, .list-layout, .subnav-list, .sidenav-list {
    list-style: none;
    padding: 0;
}
